# Git
.git
.gitignore
backend/Dockerfile

# Compiled binary (jika di-build lokal)
main
main.exe

# Dependensi lokal (Docker akan melakukan "go mod download")
vendor/

# Environment / Data Rahasia
*.env
.env.*
*.pem
*.csv
*.key

# Editor/IDE
.vscode/
.idea/
